<%- include('partials/header', { title: 'Nossos Eventos' }) %>

    <div class="container">
        <% if (message) { %>
            <div class="flash-message <%= message.type %>">
                <%= message.text %>
            </div>
            <% } %>

                <h1>Próximos Eventos</h1>

                <div class="event-list">

                    <% events.forEach(event=> { %>
                        <div class="event-card">
                            <h3>
                                <%= event.title %>
                            </h3>
                            <% if (user) { %>
                                <% if (user.role==='admin' ) { %>
                                    <a href="/site/eventos/<%= event.id %>/editar" class="btn">Editar</a>
                                    <a href="/site/eventos/<%= event.id %>/excluir" class="btn"
                                        style="background-color: #E53935;">Excluir</a>

                                    <% } else { %>
                                        <form action="/subscribe" method="POST">
                                            <input type="hidden" name="eventId" value="<%= event.id %>">
                                            <input type="hidden" name="userId" value="<%= user.id %>">
                                            <button type="submit" class="btn">Inscrever-se</button>
                                        </form>
                                        <% } %>

                                            <% } else { %>
                                                <a href="/site/login" class="btn">Login para se inscrever</a>
                                                <% } %>

                        </div>
                        <% }) %>

                </div>
    </div>

    <%- include('partials/footer') %>